<!-- wp:template-part {"slug":"header","theme":"glamourhub"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"},"metadata":{"name":"Home Content Wrapper"}} -->
<main class="wp-block-group">
    
    <!-- wp:pattern {"slug":"glamourhub/hero-sec"} /-->
    <!-- wp:pattern {"slug":"glamourhub/popular-categoires"} /-->
    <!-- wp:pattern {"slug":"glamourhub/cta"} /-->
    <!-- wp:pattern {"slug":"glamourhub/best-selling-products"} /-->
    <!-- wp:pattern {"slug":"glamourhub/latest-posts"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"glamourhub"} /-->