@import '../../.config/waybar/wallust/colors-waybar.css';
/* SwayNC config  */
@define-color noti-bg rgba(20, 20, 20, 0.7);
@define-color noti-bg-alt rgba(0, 0, 0, 0.7);
@define-color noti-border-color rgba(255, 255, 255, 0.8);
@define-color text-color @foreground;

* {
    font-family: "Noto Sans Adlam Unjoined Bold font";
    font-weight: bold;
    box-sizing: border-box;
}

/* notification styling */
.notification {
    background-color: transparent; 
    /* background-color: rgba(20, 20, 20, 0.7);  */
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.notification-content {
    background-color: @noti-bg; 
    border: none;
    padding: 8px 10px;
    margin: 0;
    border-radius: 10px;
}

/* title */
.widget-title {
    font-size: 0.85rem;
    font-weight: normal;
    background: @noti-bg-alt;
    color: @text-color;
    padding: 4px 8px;
    margin: 6px;
    border-radius: 10px;
}

.widget-dnd {
    font-size: 0.85rem;
    background: @noti-bg-alt;
    color: @text-color;
    padding: 4px 8px;
    margin: 6px;
    border-radius: 10px;
}

/* buttons */
button,
.notification-action,
.inline-reply-button {
    background: rgba(255, 255, 255, 0.1);
    color: @text-color;
    border: none;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 0.75rem;
}

button:hover,
.notification-action:hover,
.inline-reply-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.widget-title>button:hover {
    background: @text-color;
    color: red;
}

/* control center */
.control-center {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    color: @text-color;
}

/* media*/
.widget-mpris,
.widget-volume,
.widget-backlight {
    background: @noti-bg-alt;
    border-radius: 10px;
    padding: 6px;
    margin: 6px;
    font-size: 0.8rem;
    color: @text-color;
}

.widget-mpris box {
    spacing: 4px;
}

.widget-mpris box button {
    padding: 2px 4px;
    margin: 2px;
    font-size: 0.65rem;
    border-radius: 6px;
    min-width: 20px;
    min-height: 20px;
    max-width: 22px;
    max-height: 22px;
    background: rgba(255, 255, 255, 0.1);
    color: @text-color;
    border: none;
}

.widget-mpris box button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.widget-mpris box button image {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-size: 0.75rem
}

.critical {
  background: red;
  padding: 0px;
  border-radius: 10px;
}
